.layout-notification
  .chat
    .chat-side
      .chat-user.clearfix
        %h5
          moeri
          .chat-user__actions
            %a.chat-user__action{ href: '/groups/new' }
              %i.fa.fa-pencil-square-o
            %a.chat-user__action{ href: 'users/edit' }
              %i.fa.fa-cog
      %ul.chat-groups
        %li.chat-groups
          %a.chat-group__link{ href: "/groups/1412/messages" }
            %p.chat-group__name tcamp
            %p.chat-group__message
    .chat-main
      .chat-header.clearfix
        .chat-header--left
          %h2 tcamp
          %p.chat-header__users
            Members:
            %span.chat-header__user moeri
            %span.chat-header__user piyo
            %span.chat-header__user namename
        .chat-header--right
          %a.chat-header__edit-btn{ href: 'groups/1412/edit' } Edit
      .chat-body
        %ul.chat-messages
          %li.chat-message
            .chat-message__header.clearfix
              %p.chat-message_name moeri
              %p.chat-message_time 2016/10/30 09:36:16
            %p.chat-message_body hello
    .chat-footer

